body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.search-container {
    text-align: center;
    width: 50%;
}

.page-title {
    color: #337ab7;
    margin-bottom: 10%;
}

    .page-title h1 {
        font-weight: 800;
    }

.errorMessage {
    color: red;
    margin-bottom: 5%;
}
